.facebook:hover{   
    background-color: #4267B2;
    border: 2px solid #4267B2; 
}
.facebook:active{   
    background-color: #2F4A80;
    border: 2px solid #2F4A80;
}
.instagram:hover{   
    background-color: #C13584;
    border: 2px solid #C13584;
}
.instagram:active{   
    background-color: #8F2762;
    border: 2px solid #8F2762;
}
.twitter:hover{   
    background-color: #1DA1F2;
    border: 2px solid #1DA1F2;
}
.twitter:active{   
    background-color: #177FBF;
    border: 2px solid #177FBF;
}
.youtube:hover{   
    background-color: #FF0000;
    border: 2px solid #FF0000;
}
.youtube:active{   
    background-color: #CC0000;
    border: 2px solid #CC0000;
}